<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>
    <%= title %>
                <section class="container">
                <div class="active">
                    <a href="/">Home</a>
                </div>
                <div>
                    <a href="/list">Recipes</a>
                </div>
                <div>
                    <a href="/add">Add Recipe</a>
                </div>
            </section>
  </header>