<%- include('./partials/header') %>
    <section class=hyas>
        Favorite Foods <br />
    </section class=hyas>
    <body style =  "text-align: center">
        My two favorite foods right now (I couldn't pick one, and they change constantly) are a CRISP Chicken Parm Sandwich and Mango Sticky Rice.
    </body>
    <div class="row">
        <div class="column">
            <img src="/images/chicken_parm.jpg">
        </div>
        <div class="column">
            <img src="/images/mango_sticky_rice.jpg">
        </div>
    </div>
    <section class=hyas>
        Cooking Experience <br />
    </section class=hyas>
    <body style =  "text-align: center">
        I would say I am a somewhat experienced chef. During the summer when I have access to a kitchen, I enjoy cooking either for myself or my family depending on where I am.
    </body>
<%- include('./partials/footer') %>